body {
    background-color: #99ffff;
    
}

h1 {background-color: #ffcc00;
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    padding-top: 0px;
    padding-right: 200px;
    padding-left: 0px;
    padding-bottom: 0px;
    
    border-top: 0px;
    border-right: 0px;
    border-bottom: 200px;
    border-left: 0px;
    
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;

    float: left;
}


h2 {background-color: #ffcc00;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 500px;
    padding-bottom: 0px;
    
    border-top: 0px;
    border-right: 0px;
    border-bottom: 200px;
    border-left: 0px;
    
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;

    float: bottom;
}

ol {

}

li {

}

p {

}